/* Default CSS Stylesheet for a new Web Application project */

BODY
{
	font-family: Verdana;
	font-size: 8pt;
	font-weight: normal;
	letter-spacing: normal;
	text-transform: none;
	word-spacing: normal;
}

A:link
{
	text-decoration: none;
	color: #3333cc;
}

A:visited
{
	text-decoration: none;
	color: #333399;
}

A:active
{
	text-decoration: none;
	color: #333399;
}

A:hover
{
	text-decoration: underline;
	color: Black;
}